<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-dark-700 text-white">
    <div class="container">
        <h1>LCO Social login</h1>
    </div>
    <div class="container">
        <a href="" class="btn btn-outline-success">Logout</a>
        <a href="" class="btn btn-outline-success">Login</a>
        <a href="/home" class="btn btn-outline-success">Home</a>
    </div>
    <div class="container">
        <h1 class="text-lg">You are at HOME page</h1>
    </div>
</body>
</html>